html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

div.text-left h2,
div.text-right h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

div.text-left h2 {
    padding-left: 40px;
}

div.text-right h2 {
    padding-right: 40px;
}

div.content-text-wrapper,
div.content-content-wrapper {
    height: 400px;
    background-color: rebeccapurple;
    ;
}

div.about-author-toggle {
    cursor: pointer;
}

div.about-author-toggle p.about-author-toggle-paragraph {
    color: blue;
    transition: ease-in-out color 0.1s;
}

div.about-author-toggle p.about-author-toggle-paragraph:hover {
    color: rgba(0, 0, 0, 0.4);
}

div.about-author {
    display: none;
}

div.about-content-wrapper,
div.content-wrapper,
div.products-content-wrapper,
div.cart-info{
    padding-top: 80px;
}

div.sorting-wrapper {
    width: 50%;
    font-size: 13px;
    padding: 7px 8px 7px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
div.sorting-wrapper select:focus, div.sorting-wrapper select:active{

    outline: none;

}

div.sorting-wrapper .sort-button select{
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    min-width: 100%;
    position: relative;
    z-index: 10;
    font-size: 1em;
}

div.search-wrapper input,button{
    display: inline-block;
    font-size: 13px;
}   

div.search-wrapper input[type="search"]{
    width: 50%; 
}
.product-colors-display{
    height: 50px;
}
div.color-background-blue{
    background-color: blue;
}
div.color-background-red{
    background-color: red;
}
div.color-background-green{
    background-color: green;
}
div.color-background-violet{
    background-color: violet;
}
div.color-background-primer-white{
    background-color: #787276;
}
div.categories-wrapper a.categories-anchor{
    text-decoration: none;
    color: black;
    line-height: 1;
}
p.card-text{
    display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
div.categories-wrapper{
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
    padding: 5px;
}
div.categories-wrapper a.categories-anchor{
    padding-left: 5px;
    padding-right: 5px;
}
div.colors-div-wrapper{
    position: relative;
    opacity: 100%;
    border-radius: 10%;
}
div.colors-div-wrapper:hover{
    cursor: pointer;
}
.stick-to-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
}
.selected-color{
    opacity: 50%!important;
}
.cart-table{
    padding-top: 100px;
}
p.primary-type{
    padding-bottom: 10px;
}
a.add-to-cart{
    background-color: black;
}
p.bucket-quantity{
    padding-top: 10px;
}
h4.card-header{
    background: #fff;
}
h5.card-title{
    font-size: 18px;
    font-weight: bold;
}
a.add-to-cart:hover{
    background-color: #fff;
    color: #000;
    font-weight: bolder;
}
div.products-extra{
    padding: 30px 0;
}
nav.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
}
div.cart-table table th,div.cart-table table tr td{
    padding: 5px 2px;
    text-align: center;
}
div.cart-table table, div.cart-table table tr, div.cart-table table tr td{
    border: 2px solid #000;
}
div.cart-table table{
    width: 100%;
}
div.cart-table table tr{
    
}
div.footer-wrapper{
    padding-top: 10px;
    padding-bottom: 10px;
}